$fbold: FuturaNewBold-Reg;
$fbook: FuturaNewBook-Reg;
$fdemi: FuturaNewDemi-Reg;
$fheavy: FuturaNewHeavy-Reg;
$fmedium: FuturaNewMedium-Reg;
$fgotha: GothamPro-Black;

$cd7: #d7d7d7;
$c27: #272727;
$ccc: #cccccc;
$c33: #333333;
$cd6: #d6d6d6;
$c06: #d61506;
$c48: #484848;
$cf5: #f5f5f5;
$c26: #262626;
$c09: #890c09;
$ce1: #e1e1e1;
$c7c: #7c7c7c;

$t3: .3s ease all;